@font-face {
    font-family: medu;
    src: url(./NeueHaasDisplayMediu.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: medu;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 2vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #090808a2;
    border-radius: 50px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.875);
    position: relative;
    font-size: 18px;
    transition: all ease 0.5s;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    background-color: black;
    border-radius: 55%;
    transition: all ease 0.5s;
}

#nav-part2 h4:hover::after {
    border-radius: 0;
    bottom: 0;
}
#nav-part2 h4 a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: white;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid #0000003c;
    padding-bottom: 2vw;
}

#left h3{
    width: 25vw;
    font-size: 0.2vw;
}

#center h1{
    font-size: 10vw;
    text-align: center;
    line-height: 8vw;
}

#page1 video {
    border-radius: 22px;
    margin-top: 4vw;
    width: 100%;
    position: relative;
}

#moving-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#move-1{
    height: 100%;
    width: 100%;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#move-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(orangered, rgb(224, 94, 47));
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: revolve2;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#move-3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(rgb(255, 69, 0), rgb(219, 73, 24));
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: revolve1;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes revolve1 {
    from {
        transform: translate(55%, -3%);
    }
    to {
        transform: translate(0%, 10%);
    }
}

@keyframes revolve2 {
    from {
        transform: translate(5%, -5%);
    }
    to {
        transform: translate(-20%, 30%);
    }
}
#page2 {
    padding: 6vw 0vw;
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(205, 179, 232); */
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    /* background-color: aqua; */
    font-size: 9vw;
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
}

#gola {
    height: 70px;
    width: 70px;
    background-color: orangered;
    display: inline-block;
    border-radius: 50%;
    margin: 1vw;
}

@keyframes move {
    from {
        transition: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    background-color: royalblue;
}