@font-face {
    font-family: medu;
    src: url(./NeueHaasDisplayMediu.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: medu;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 2vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #090808a2;
    border-radius: 50px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.875);
    position: relative;
    font-size: 18px;
    transition: all ease 0.5s;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    background-color: black;
    border-radius: 55%;
    transition: all ease 0.5s;
}

#nav-part2 h4:hover::after {
    border-radius: 0;
    bottom: 0;
}
#nav-part2 h4 a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: white;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid #0000003c;
    padding-bottom: 2vw;
}

#left h3{
    width: 25vw;
    font-size: 0.2vw;
}

#center h1{
    font-size: 10vw;
    text-align: center;
    line-height: 8vw;
}

#page1 video {
    border-radius: 22px;
    margin-top: 4vw;
    width: 100%;
}

#moving-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;


    right: 0;
    top: 65vh;
    
}

#move-1{
    height: 100%;
    width: 100%;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#move-2{
    height: 30vw;
    width: 30vw;
    background-color: orangered;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#move-3{
    height: 30vw;
    width: 30vw;
    background-color: orangered;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: revolve;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

@keyframes revolve {
    from {
        transform: translate(10%, 10%);
    }
    to {
        transform: translate(-10%, -10%);
    }
}